* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.8s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
}

main {
  width: 90%;
  max-width: 600px;
}

h2 {
  margin-bottom: 10px;
  color: #444;
}

p {
  font-size: 1.1rem;
  margin-top: 15px;
  color: #222;
}